*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}
.container{

    position:relative;
    height: 400%;
    width: 100vw;
    min-width: 700px;
    transition: all 0.1s ease-in;
}
.home-page{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    position:relative;
}
.home-page-img{
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    object-fit: cover;;
}
.header{
    color: white;
    font-size: 1.2em;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    height: 20vh;
    padding: 1em 2em;
}
.logo{
    font-weight:900;
    padding-right: 150px;
}
.nav{
    position:relative;
    width:fit-content;
    display:flex;
    width: 50%;
}
ul{
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    list-style: none;
}
li{
    padding: 0 10px;
}
.sign-in-button{
    cursor: pointer;
    background-color: rgb(57, 180, 202);
    border-radius: 50px;
    padding: 0.8rem;
    font-size: 0.5em;
    width: 10%;
    text-align:center;
    
    text-decoration-color: rgba(255, 255, 255,0.5);
}
.sign-in-button:hover{
    background-color: rgb(38, 116, 129);
    color: rgba(255, 255, 255,1);
}
.home-page-body{
    color: white;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align:center;
    justify-content: center;
    
}

.type{
    font-size: 4rem;
    font-weight: bolder;
    padding:1rem;
}
.self-service{
    height:100vh;
    width: 100%;
    background-color:rgb(223, 223, 223)
}
.self-service-body{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.service-text{
    margin: 20vw 10vw;
    max-width: 800px;
}
.service-title{
    font-size: 3em;
    margin-bottom: 1em;
}
.slider{
    width: 100%;
    height: 100vh;
    background-color: turquoise;
}
.slider-layout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.text-part{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.slider-title{
    font-size: 3em;
    margin-bottom: 1em;
    
}
.slider-description{
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 1em;
}
.button{
    width: 50%;
    display:flex;
    justify-content: center;
    margin-left: 30px;
}
.slider-button{
    cursor: pointer;
    padding: 10px;
    background-color: rgb(57, 180, 202);
    border-radius: 50px;
    width: fit-content;
}
.slider-dot{
    padding-right: 20px;
    margin-left: 5vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.dot{
    width: 10px;
    height: 10px;
    margin-right: 20px;
    background-color:rgb(157, 213, 223);
    border-radius: 100%;
}
.img-part{
    background-color:rgb(57, 180, 202);
}
.sesscion1-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.slider-button:hover{
    background-color: rgb(38, 116, 129);
    color: rgba(255, 255, 255,1);
}

/* menu nav bar*/
.menu{
    
    cursor: pointer;
    width: 30px;
    height: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
display: none;
}
.bar{
    margin-bottom: 2px;
    width: 30px;
    height: 8px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0.5px 0px grey;
}
.menu:hover .bar{
    box-shadow: 0px 0px 3px 0px grey;
}
@media screen and (max-width: 414px){
    .container{
        min-width: 360px;
        
    }
    .logo{
        font-size: 3rem;
        font-weight: bolder;
        padding-right: 50%;
    }
    .service-text{
        font-size: 0.5rem;
        font-weight: lighter;
    }
    .service-title{
        font-size: 2rem;
        font-weight: bolder
    }
    .slider-title{
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .slider-description{
        font-size: 0.5rem;
        font-weight: lighter;
    }
    .sign-in-button{
        width: fit-content;
        font-size:1em;
        transform: translateX(-80%);
        transition: transform 500ms ease-in;
    }
    .nav{
        align-content: center;
        color:rgb(57, 180, 202);
        display: none;
    }
    ul{
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        line-height: 3em;
    }
    li{
        font-size: 3em;
    }
    .menu{
        transform: translateX(-30px);
        display:block;
    }
    .type{
        font-size: 3rem;
    }
}
.nav-active{
    position:absolute;
    display:block;
    width: 100vw;
    height: 80%;
    top: 20vh;
    left: 0;
    background-color: rgba(0, 0, 0,0.8);
}
.blur_on_menu{
    opacity: 0.1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255,1);
}
